.modal-content { 
    background-color: rgb(25, 25, 25) !important; 
}

.text-justify {
    text-align: justify;
}

body {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(25, 25, 25);
}

a {
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: rgb(100, 100, 100);
}

img {
    width: 20%;
}